<app-header [userImg]="userImg"></app-header>
<div class="about-container">
    <div class="background-overlay"></div>
    <div class="content-wrapper">
      
      <div class="content">
        <h1>About Us</h1>
        <p>Welcome to our streaming platform! Our goal is to offer users an unlimited library of movies, TV shows, and more, all for free with ads.</p>
        <div class="team">
          <div class="team-member">
            <img src="./assets/mahdi.jfif" alt="Mahdi Bouafif">
            <h3>Mahdi Bouafif</h3>
            <p>Co-Founder & Full Stack Developer</p>
          </div>
          <div class="team-member">
            <img src="./assets/amal.jfif" alt="Amal Dhouib">
            <h3>Amal Dhouib</h3>
            <p>Co-Founder & Full Stack Developer</p>
          </div>
        </div>
        <p class="footer">We are students at SUP'COM, Tunisia, building this platform for everyone to enjoy.</p>
      </div>
    </div>
  </div>
<app-footer></app-footer>